* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    height: 100vh;
    background: #FE973A url(/images/noise.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #f8f8f8;
}

.container {
    background-color: #000;
    box-shadow: 0 0 10px 0.5px #000000d7;
    border-radius: 10px;
    padding: 1rem;
}

.display {
    height: 115px;
    width: 17rem;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    overflow: hidden;
    z-index: 1;
    transition: color .6s ease-in-out;
}

.displayCover {
    font-size: 3rem;
    margin: 10px;
}

.output {
    font-size: 2rem;
    text-align: right;
    margin: 0 10px 0 10px;
}


table {
    padding: 1rem;
}

td {
    padding: 0.2rem;
}

button {
    color: #f8f8f8;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1.5rem;

    font-weight: 600;
    cursor: pointer;

    border: none;
}

.light-grey {
    background-color: #a6a6a6;
    color: #000;
}

.dark-grey {
    background-color: #333;
}

.yellow {
    background-color: #ff9501;
}

.light-grey:hover {
	background: rgb(166, 166, 166, 0.8);
}

.dark-grey:hover {
	background: rgb(51, 51, 51, 0.8);
}

.yellow:hover {
	background: rgb(255, 149, 1, 0.8);
}

#number0 {
    width: 8.5rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}



img {
    width: 1.7rem;
    height: 1.7rem;
    margin:  0 auto;
    margin-top: 0.5rem;
}

.click-effect {
	animation: pulse 1s;
}

@keyframes pulse {
	to {
		transform: scale(0.95);
	}
}

@-webkit-keyframes pulse {
	to {
		transform: scale(0.95);
	}
}

@-moz-keyframes pulse {
    to {
		transform: scale(0.95);
	}
}
@-ms-keyframes pulse {
    to {
		transform: scale(0.95);
	}
}


.display-cover::-webkit-scrollbar,
.output::-webkit-scrollbar {
	width: 1rem;
	height: 1rem;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: #333333;
}
::-webkit-scrollbar-thumb:hover {
	background: #a6a6a6;
}