* {
    margin: 0;
    border: 0;
    padding: 0;

    user-select: none;
}

div {
    display: block;
}

body {
    height: 100vh;
    background: #FE973A url(/images/noise.png);
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #f8f8f8;
}

.container {
    background-color: #000;
    box-shadow: 0 0 10px 0.5px #000000d7;
    padding: 1rem;
    border-radius: 10px;
}

.display {
	display: inline-block;
	scroll-snap-align: end;
}

.display-cover {
    text-align: right;
	font-size: 2rem;
	overflow-y: hidden;
	overflow-x: hidden;

	scroll-snap-type: x mandatory;
}

.output {
    text-align: right;
	font-size: 1.5rem;
	overflow-y: hidden;
	overflow-x: scroll;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

td {
    padding: 0.2rem;
}

button {
    background-color: #ff9501;
    color: #f8f8f8;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    font-weight: 600;
}

.light-grey {
    background-color: #a6a6a6;
    color: #000;
}

.dark-grey {
    background-color: #333;
}

.yellow {
    background-color: #ff9501;
}

.light-grey:hover {
	background: rgb(166, 166, 166, 0.8);
}

.dark-grey:hover {
	background: rgb(51, 51, 51, 0.8);
}

.yellow:hover {
	background: rgb(255, 149, 1, 0.8);
}

#zero {
    width: 4.5rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

#backspace {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    position: relative;
}

.body {
    width: 0.9rem;
    height: 0.6rem;
    border-radius: 0.7px 2px 2px 0.7px;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 0.9rem;
    height: 0.6rem;
    position: relative;
    margin-left: -1px;
}

.line-left, .line-right {
    width: 0.15rem;
    height: 0.5rem;
    background-color: #FE973A;
    border-radius: 50px;
    position: absolute;
}

.line-left {
    transform: rotate(45deg);

}

.line-right {
    transform: rotate(-45deg);
}

.arrow {
    border-color: #fff transparent transparent #fff;
    border-style: solid;
    border-width: 0.2rem;
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    margin-right:  0.89rem;
}

.display-cover::-webkit-scrollbar,
.output::-webkit-scrollbar {
	width: 1rem;
	height: 1rem;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: #333333;
}
::-webkit-scrollbar-thumb:hover {
	background: #a6a6a6;
}