* {
    margin: 0;
    border: 0;
    user-select: none;
}

div {
    display: block;
}

body {
    height: 100vh;
    background: #FE973A url(/images/noise.png);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #f8f8f8;
}

.container {
    background-color: #000;
    box-shadow: 0 0 10px 0.5px #000000d7;
    padding: 2rem;
    border-radius: 10px;
}

.row {
    display: flex;
}

.light-grey, .dark-grey, .yellow {
    background-color: #ff9501;
    height: 4.2rem;
	width: 4.2rem;
    display: flex;

    border-radius: 50%;
	margin: 0.4rem;

    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-weight: 600;
}

.light-grey {
    background-color: #a6a6a6;
    color: #000;
}

.dark-grey {
    background-color: #333;
}

.yellow {
    background-color: #ff9501;
}

.light-grey:hover {
	background: rgb(166, 166, 166, 0.8);
}

.dark-grey:hover {
	background: rgb(51, 51, 51, 0.8);
}

.yellow:hover {
	background: rgb(255, 149, 1, 0.8);
}
